footer {
  // center items in list
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  text-align: center;

  height: 75px;

  margin-left: 5px;
  margin-right: 5px;

  .footer_left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 5px;

    .link_list {
      ul {
        list-style-type: none;
        padding-left: 0px;

        li {
          display: inline;
        }
      }
    }

    .spacer {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .footer_right {
    width: 90%;
  }

  // if less than 500px:
  // - hide right
  // = inside of left, flex colum 
  // - hide spacer
  @media (max-width: 500px) {
    .footer_left {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .spacer {
        display: none;
      }
    }

    .footer_right {
      display: none;
    }
  }
}