---
import LinkList from "../base/LinkList.astro";
import MOTD from "../base/MOTD.astro";
import Copywright from "./Copywright.astro";
---

<footer>
  <div class="footer_left">
    <LinkList
      links={[
        {
          name: "Email",
          href: "/links/email",
        },
        {
          name: "GitHub",
          href: "/links/github",
        },
        {
          name: "LinkedIn",
          href: "/links/linkedin",
        },
        {
          name: "RSS",
          href: "/links/rss",
        },
      ]}
    />
    <span class="spacer"> | </span>
    <Copywright
      name="Ash Entwisle"
      year={2022}
      href="https://ashentwisle.com"
    />
  </div>
  <div class="footer_right">
    <div class="footer_motd">
      <MOTD />
    </div>
  </div>
</footer>
