main {
  #landing_main {
    width: 80%;

    .landing {
      
      .text_typer {
        font-size: 1.5em;
        font-weight: 600;
        padding-bottom: 5px;
        
        text-decoration: underline;
      }
      p {
        font-size: 1em;
        font-weight: 400;
        padding-bottom: 10px;
        
        max-width: 600px;
      }
    }

    .recent {
      h2 {
        font-size: 1.5em;
        font-weight: 600;
        padding-bottom: 10px;

        text-decoration: underline;
      }

      .posts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;


        .blog_post_card {

          max-width: 750px;

          h2 {
            font-size: 1.25em;
            text-decoration: none;
            
            padding-top: 0px;
          }
        }
      }
    }

    .more {
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
    }
  }
}