---
import Boilerplate from "../layouts/Boilerplate.astro";

import TextTyper from "../components/dynamic/TextTyper.svelte";

const keywords = [
  "hull",
  "computer",
  "science",
  "society",
  "hcss",
  "hcssoc",
  "hull",
  "university",
  "students",
  "student",
  "union",
  "hull",
  "css",
  "society",
  "computer",
];
---

<Boilerplate
  title="Ash's Website"
  description="Hi, I'm Ash! I'm a 2nd year Comp-Sci student who loves rust, linux, mechanical keyboards, toasters and blue ikea sharks :3"
  keywords={keywords}
  header={true}
  footer={true}
>
  <div id="landing_main">
    <div class="about">
      <h1>
        <TextTyper text="Hello World, I'm Ash!" client:visible />
      </h1>
      <p>
        Feel free to check out my projects and my blog. feel free to subscribe
        to my RSS feed.
      </p>
      <p>If you want to get in touch, feel free to reach out!</p>
    </div>
  </div>
</Boilerplate>
